<h3>このサイトは</h3>
スマートフォン等の位置情報を用いて、現在位置に一番近い駅の情報を表示します。鉄道での移動中、いまどのあたりか知りたいときや、今居る駅の情報を調べたい時に、まずこのサイトを開くことで、素早く目的の情報にアクセスできます。
<h3>表示情報</h3>
<h4>駅情報</h4>
名前、読み、住所を表示します。<br />事業者、路線名、前の駅、次の駅を表示します。
<h4>天気情報</h4>
現在の天気を表示します。<br />次の3時間の天気予報を表示します。更新時刻は午前および午後の0時、3時、6時、9時です。連携サービスの都合上、10分から30分の遅れがありますので、あらかじめご了承ください。
<h3>ボタン、リンク</h3>
<h4>自動更新ボタン</h4>
移動によって近い駅が更新されたときに、オンの場合は自動で駅の情報表示を更新します。オフの場合は「いちウェア」アイコン下に「近い駅を表示」が表示されます。
<h4>大きい文字ボタン</h4>
情報テキストを大きく表示します。Vufine等のメガネ型ウェアラブル端末でのご利用におすすめです。
<h4>いちウェアアイコン</h4>
近い駅のページに遷移します。自動更新ボタンはオフになります。
<h4>リンク</h4>
<table class="bordered">
  <tbody>
    <tr>
      <td>Wikipedia</td>
      <td>駅のウィキペディアページを表示します。</td>
    </tr>
    <tr>
      <td>Google検索</td>
      <td>駅名でGoogle検索を行います。</td>
    </tr>
    <tr>
      <td>地図表示</td>
      <td>駅周辺の地図を表示します。</td>
    </tr>
    <tr>
      <td>Twitter検索</td>
      <td>駅名でTwitter検索を行います。</td>
    </tr>
  </tbody>
</table>
<h4>時計</h4>
現在時刻を表示します。タップすることで、時分秒を表示、非表示、時分を表示の順番で切り替えることができます。
<h3>データ元</h3>
本サイトで表示される駅情報は<a class="waves-effect" href="http://www.ekidata.jp/">駅データ.jp</a>のデータを利用しています。<br />
また、天気情報につきましては<a class="waves-effect" href="http://openweathermap.org/">OpenWeatherMap</a>のデータを使用しています。
<h3>不具合、要望について</h3>
不具合や表示情報誤りにつきましては、開発元のTwitterアカウント<a class="waves-effect" href="https://twitter.com/ichiwear">@ichiwear</a>にリプライ頂ければ、できる限り対応したいと思います。<br />
要望についても、面白そうな機能はできる限り開発したいと思います。
<h3>動作環境</h3>
<table class="bordered">
  <thead>
    <tr>
      <th>OS</th>
      <th>ブラウザ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>iOS</td>
      <td>Safari、Google Chrome</td>
    </tr>
    <tr>
      <td>Android</td>
      <td>Google Chrome</td>
    </tr>
  </tbody>
</table>
<p>iOSとアプリは最新バージョンのみの対応です。</p>
<h3>位置情報の許可</h3>
本サイトはスマートフォン等の位置情報を使用します。初回アクセス時はSafari、Chrome等のブラウザが位置情報を使用する許可を求めます。本サイトを使用するためには「OK」や「許可」を選択する必要があります。
<h3>免責事項</h3>
本サイトの利用によって発生したいかなる損害について、開発元は責任を追いません。</div>
