<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/materialize.min.js"></script>
    <script src="/static/vue.min.js"></script>
    <script src="/static/vue-resource.min.js"></script>
    <title>Hello</title>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <p>Thanks for your submission, {{name}}!</p>
      <div id="app">value = [[value]]</div>
    </div>
  <script src="/static/main.js"></script>
  </body>
</html>
