<html lang="ja">
<head>
  {% include 'guide_head.html' %}
  <title>いちウェア プライバシーポリシー</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="row" id="header">
        <div class="col s12">
          <a class="waves-effect" href="/" id="icon">
            <img id="icon" src="/static/icon.svg?v={{version}}" />
          </a>
          <h2>プライバシーポリシー</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {% include 'privacy_body.html' %}
        </div>
      </div>
    </div>
  </main>
</body>
</html>
