<html lang="ja">
<head>
  <title>Twitterカードテスト</title>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ichiwear" />
  <meta property="og:url"　content="https://ichiwear.jp/1130325" />
  <meta property="og:title" content="立川" />
  <meta property="og:description" content="東京都立川市曙町二丁目1-1" />
  <meta property="og:image" content="https://ichiwear.jp/static/twitter_card.png" />
  <meta http-equiv="refresh" content="0;https://ichiwear.jp/1130325">
</head>
<body>
  Twitterカードテスト
</body>
</html>
